{% load static %} 
 <!DOCTYPE html> 
 <html lang="en"> 
  
 <head> 
     <meta charset="UTF-8"> 
     <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <title>Scholarpad</title> 
     <link href="{% static 'assets/css/form.css' %}" rel="stylesheet"> 
 </head> 
  
 <body> 
     <div class="loginwrap"> 
         <div class="login"> 
             {% for message in messages %} 
             <h5>{{message}}</h5> 
             {% endfor %} 
             <div class="icons"> 
		     <img src="{% static 'assets/images/icon-cap.png' %}" alt="cap"> 
		     <img src="{% static 'assets/images/icon-cert.png' %}" alt="certificate"> 
             </div> 
             <h1 class="log">Student Login</h1> 
             <form method="POST" action="login"> 
                 {% csrf_token %} 
                 <label for="username">Username</label> 
                 <input type="text" id="username" name="username" placeholder="John" required> 
                 <br> 
                 <div class="password"> 
                     <label for="password">Password </label> 
                     <div> 
                         <input type="password" id="password" name="password" placeholder="*****" required> 
			 <img src="{% static 'assets/images/icon-hide.png' %}" alt="show" id="show" 
                             onclick="togglePasswordVisibility('password')"> 
                     </div> 
		     <a href="{% url 'reset_password' %}" id="forget">Forgot password?</a> 
                 </div> 
                 <br><br> 
                 <button class="loginbtn">Login</button> 
                 <br> 
                 <p>Dont have an account? 
                     <a href="https://selar.co/Scholarpad"> Sign up here</a> 
                 </p> 
  
             </form> 
         </div> 
     </div> 
     <script src="{% static 'assets/js/index.js' %}"></script> 
     <script> 
         function togglePasswordVisibility(fieldId) { 
             var passwordInput = document.getElementById(fieldId); 
  
             if (passwordInput.type === "password") { 
                 passwordInput.type = "text"; 
		     document.getElementById('show').setAttribute('src', "{% static 'assets/images/icon-show.png' %}") 
             } else { 
                 passwordInput.type = "password"; 
		     document.getElementById('show').setAttribute('src', "{% static 'assets/images/icon-hide.png' %}") 
             } 
         } 
     </script> 
 </body> 
  
 </html>
