{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>🎓 Scholarpad</title>
  <!--link rel="stylesheet" href="style.css" /-->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
<style>
 #password, 
 #phone-no, 
 select, 
 textarea { 
   background-color: #dfe9eb; 
   border: none; 
   width: 100%; 
   padding: 10px; 
   border-radius: 7px; 
   display: block; 
   box-sizing: border-box; 
   margin-bottom: 15px; 
   margin-top: 5px; 
 } 
   label { 
   font-weight: bolder; 
 } 
</style>

</head>

<body>
  <main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">
          <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="logo">
              <!--img src="./img/logo.png" alt="Scholarpad" /-->
              <img src="{% static 'assets/img/logo.png' %}" alt="Scholarpad">
              <h4>Scholarpad</h4>
            </div>

            <div class="heading">
              <h2>Enter new password</h2>
              <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            </div>
<br>
	    {{form}}

            <!--div class="actual-form">
              <div class="input-wrap">
                <input type="password" minlength="8" class="input-field" name="password" id="username" autocomplete="off" required />
                <label for "password">New password</label>
              </div>

              <div class="input-wrap">
                <input type="password" minlength="8" class="input-field" id="password" name="password" autocomplete="off" required />
                <label for "password"> Confirm Password</label>
		<img src="images/icon-hide.png" alt="show" id="show" onclick="togglePasswordVisibility('password')">
                <img src="{% static 'assets/images/icon-hide.png' %}" alt="show" id="show" onclick="togglePasswordVisibility('password')">
              </div-->
	      <br>
              <input type="submit" value="Change password" class="sign-btn" />
            </div>
          </form>

        </div>

        <div class="carousel">
          <div class="images-wrapper">
            <!--img src="/img/R (1).jpeg" class="image img-1 show" alt="" /-->
            <img src="{% static 'assets/img/R (2).jpeg' %}" alt="cap" class="image img-2">

            <!--img src="/img/R (2).jpeg" class="image img-2" alt="" /-->
            <img src="{% static 'assets/img/R (2).jpeg' %}" alt="cap" class="image img-2">

            <!--img src="./img/image3.png" class="image img-3" alt="" /-->
            <img src="{% static 'assets/img/image3.png' %}" alt="cap" class="image img-3">

          </div>

          <div class="text-slider">
            <div class="text-wrap">
              <div class="text-group">
                <h2>Become the best</h2>
                <h2>Ace your exams </h2>
                <h2>Become a programmer </h2>
              </div>
            </div>

            <div class="bullets">
              <span class="active" data-value="1"></span>
              <span data-value="2"></span>
              <span data-value="3"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Javascript file -->
  <script src="{% static 'assets/js/app.js' %}"></script>

  <!--script src="app.js"></script-->
  <script>
    function togglePasswordVisibility(fieldId) {
      var passwordInput = document.getElementById(fieldId);

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        document.getElementById('show').setAttribute('src', "{% static 'assets/images/icon-show.png' %}")
      } else {
        passwordInput.type = "password";
        document.getElementById('show').setAttribute('src', "{% static 'assets/images/icon-hide.png' %}")
      }
    }
  </script>
</body>

</html>
